.tic-tac-toe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.title {
  margin-bottom: 0px;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  cursor: pointer;
}

.board-disabled {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  cursor: not-allowed;
  opacity: 0.5;
}

.board-cell {
  width: 80px;
  height: 80px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

.board-cell:hover {
  background-color: lightgray;
}

.buttons {
  display: flex;
  gap: 10px;
}

.buttons button {
  padding: 10px 20px;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}
